@import "tailwindcss";

:root {
  --font-montserrat-sans: "Montserrat", sans-serif;
  --font-gogh: "Gogh", sans-serif;
  --color-dark-gray: #141414;
  --color-sub-main-dark-gray: #1c1c1c;
  --color-sub-secondary-dark-gray: #090808;
  --color-premium-orange: #ff6600;
  --bg-secondary-dark-gray: #0a0a0a;
}

.font-montserrat {
  font-family: var(--font-montserrat-sans);
}

.font-gogh {
  font-family: var(--font-gogh);
}

.bg-dark-gray {
  background-color: var(--color-dark-gray);
}
.bg-sub-secondary-dark-gray {
  background-color: var(--color-sub-secondary-dark-gray);
}
.bg-secondary-dark-gray {
  background-color: var(--bg-secondary-dark-gray);
}
.bg-premium-orange {
  background-color: rgba(255, 102, 0, 0.65);
}
.bg-premium-orange-focus:focus {
  background-color: rgba(255, 102, 0, 0.3);
}
.bg-premium-orange-carousel {
  background-color: var(--color-premium-orange);
}
.text-premium-orange {
  color: var(--color-premium-orange);
}
.text-dark-gray {
  color: var(--color-dark-gray);
}
.border-premium-orange {
  border-color: var(--color-premium-orange);
}
.border-premium-orange-focus:focus {
  border-color: var(--color-premium-orange);
}
.shadow-premium-orange {
  box-shadow: 0 0 50px 0 rgba(255, 102, 0, 0.3);
}
.text-shadow-premium-orange {
  text-shadow: 0 0 20px var(--color-premium-orange);
}
.shadow-premium-orange-carousel {
  box-shadow: 0 0 20px 0 rgba(255, 102, 0, 0.85);
}
.shadow-premium-orange-hover:hover {
  box-shadow: 0 0 50px 0 rgba(255, 102, 0, 0.6);
}
.shadow-premium-orange-bottom {
  box-shadow: 0 5px 100px -15px rgba(255, 102, 0, 0.45);
}

/* globals.css */
.bg-bluebear-gradient {
  background: linear-gradient(
    270deg,
    /* fade from right to left */ #272628 0%,
    #272628 26.92%,
    #272628 53%,
    #272628 79.76%,
    transparent 100%
  );
}

.neon-line {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.08) 0%, #ff6600 100%);
  box-shadow: 0 0 20px rgba(255, 102, 0, 0.15);
}

.neon-circle {
  background-color: #ff6600;
  box-shadow: 0 0 20px rgba(255, 102, 0, 0.6);
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #141414;
  clip-path: inset(0 -100vmax);
}
.full-bleed-secondary-dark-gray {
  box-shadow: 0 0 0 100vmax #0a0a0a;
  clip-path: inset(0 -100vmax);
}

/* ==> Styling the toggle menu button */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* ==> Styling the scrollbar */

/* SCROLLBAR STYLING */
/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.9);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255 0.9) rgba(255, 255, 255, 0.9);
}

body {
  font-family: var(--font-montserrat-sans);
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
